body{
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.user{
    border: 3px solid #1D267D ;
    width: 750px;
    height: 200px;
    margin-top: 15px;
    border-radius: 10px;
    position: relative;
}
.personel-infos , .email-infos , .first_name , .last_name , .email , .password{
    display: flex;
    align-items: center;
}
.personel-infos , .email-infos{
    width: 90%;
    margin-left: 40px;
}
.email , .password , .first_name , .last_name{
    width: 40%;
    margin-left: 20px;
    margin-top: 15px;
}
.text{
    padding-left:20px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background-color: #DBDFEA;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 320px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-top: 20px;
}
.btn > a{
    height: 40px;
    width: 135px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}
.update{
    background-color: #FFC107;
    color: black;
}
.delete{
    color: white;
    background-color: #DC3545;
}
